
<div>
  <div *ngFor="let character of object.keys(contactList)">
    <p class="characterBucket" *ngIf="contactList[character].length > 0">&nbsp;&nbsp;{{character.toUpperCase()}}</p>
    <hr *ngIf="contactList[character].length > 0" class="contactBucketSeparator">
    <p [ngClass]="contact.colorBlue ? 'list-contact-name blue' : 'list-contact-name'" (click)="selectContact(contact, i)" *ngFor="let contact of contactList[character]; let i=index" ngDefaultControl>&nbsp;&nbsp;&nbsp;&nbsp;{{contact.firstName}} {{contact.lastName}}
      <button [hidden]="!contact.colorBlue || !inEdit" class="delete-button">
        <b>-</b>
      </button>
    </p>

  </div>
</div>
