<div class="view-page">
  <div class="fullName-container" *ngIf="!inEdit && !inCreate && selectedContact">
    <div class="firstName-container">
      <h2 class="firstName">{{selectedContact.firstName}}</h2>
    </div>
    <div class="lastName-container">
      <h2 class="lastName">{{selectedContact.lastName}}</h2>
    </div>
  </div>
  <div *ngIf="!inEdit && !inCreate && selectedContact" contact-container>
    <div class="field-container DOB">
      <p class="DOB-tag">DOB</p>
      <p class="DOB-number">{{selectedContact.DOB}}</p>
      <hr class="DOB-horizontal">
    </div>
    <div class="field-container doctorAssigned">
      <p class="doctorAssigned-tag">doctorAssigned</p>
      <p class="doctorAssigned-info-loaded">{{selectedContact.doctorAssigned}}</p>
      <hr class="doctorAssigned-horizontal">
    </div>
    <div class="field-container visits">
      <p class="visits-tag">visits</p>
      <p class="visits-info">{{selectedContact.visits}}</p>
      <hr class="visits-horizontal">
    </div>

    <div class="field-container allergies">
      <p class="allergies-tag">allergies</p>
      <p class="allergies-info">{{selectedContact.allergies}}</p>
    </div>
  </div>

  <div class="edit-container" *ngIf="inEdit && !inCreate">
    <div class="fullName-container">
      <div class="firstName-container">
        <input *ngIf="selectedContact" [(ngModel)]="firstName" class="firstName-input" placeholder="{{selectedContact.firstName}}"/>
        <input *ngIf="!selectedContact" [(ngModel)]="firstName" class="firstName-input" placeholder=""/>
        <p class="firstName-tag">first name</p>
      </div>
      <div class="lastName-container">
        <input *ngIf="selectedContact" [(ngModel)]="lastName" class="lastName-input" placeholder="{{selectedContact.lastName}}"/>
        <input *ngIf="!selectedContact" [(ngModel)]="lastName" class="lastName-input" placeholder=""/>
        <p class="lastName-input-tag">last name</p>
      </div>
    </div>
    <div class="edit-sub-container">
      <div class="field-container DOB">
        <p class="DOB-tag">DOB</p>
        <input *ngIf="selectedContact" [(ngModel)]="DOB" class="DOB-number" placeholder="{{selectedContact.DOB}}" />
        <input *ngIf="!selectedContact" [(ngModel)]="DOB" class="DOB-number" placeholder="" />
        <hr class="DOB-horizontal">
      </div>
      <div class="field-container doctorAssigned">
        <p class="doctorAssigned-tag">doctorAssigned</p>
        <input *ngIf="selectedContact" [(ngModel)]="doctorAssigned" class="doctorAssigned-info" placeholder="{{selectedContact.doctorAssigned}}">
        <input *ngIf="!selectedContact" [(ngModel)]="doctorAssigned" class="doctorAssigned-info" placeholder="">
        <hr class="doctorAssigned-horizontal">
      </div>
      <div class="field-container visits">
        <p class="visits-tag">visits</p>
        <textarea *ngIf="selectedContact" [(ngModel)]="visits" class="visits-info" name="visits" placeholder="{{selectedContact.visits}}" wrap="soft"></textarea>
        <textarea *ngIf="!selectedContact" [(ngModel)]="visits" class="visits-info" name="visits" placeholder="" wrap="soft"></textarea>
        <hr class="visits-horizontal">
      </div>
      <div class="field-container allergies">
        <p class="allergies-tag">allergies</p>
        <textarea *ngIf="selectedContact" [(ngModel)]="allergies" class="allergies-info" placeholder="{{selectedContact.allergies}}"></textarea>
        <textarea *ngIf="!selectedContact" [(ngModel)]="allergies" class="allergies-info" placeholder=""></textarea>
      </div>
    </div>
  </div>

  <div class="create-container" *ngIf="inCreate && !inEdit">
    <div class="fullName-container">
      <div class="firstName-container">
        <input [(ngModel)]="firstName" class="firstName-input" placeholder=""/>
        <p class="firstName-tag">first name</p>
      </div>
      <div class="lastName-container">
        <input  [(ngModel)]="lastName" class="lastName-input" placeholder=""/>
        <p class="lastName-input-tag">last name</p>
      </div>
    </div>
    <div class="create-sub-container">
      <div class="field-container DOB">
        <p class="DOB-tag">DOB</p>
        <input [(ngModel)]="DOB" class="DOB-number" placeholder="" />
        <hr class="DOB-horizontal">
      </div>
      <div class="field-container doctorAssigned">
        <p class="doctorAssigned-tag">doctorAssigned</p>
        <input [(ngModel)]="doctorAssigned" class="doctorAssigned-info" placeholder="">
        <hr class="doctorAssigned-horizontal">
      </div>
      <div class="field-container visits">
        <p class="visits-tag">visits</p>
        <textarea [(ngModel)]="visits" class="visits-info" name="visits" placeholder="" id="taid" wrap="soft"></textarea>
        <hr class="visits-horizontal">
      </div>
      <div class="field-container allergies">
        <p class="allergies-tag">allergies</p>
        <textarea [(ngModel)]="allergies" class="allergies-info" placeholder=""></textarea>
      </div>
      <button class="done-button" (click)="uploadContact()">Done</button>
    </div>
  </div>

  <h1 class="empty-contact-label" *ngIf="!inEdit && !inCreate && !selectedContact">You have no contacts!</h1>

  <button class="add-contact" (click)="createContact()" align="center">+</button>
  <button class="cancel-button" *ngIf="inEdit || inCreate" (click)="cancel()">Cancel</button>
  <button class="edit-button" *ngIf="!inEdit && !inCreate" (click)="toggleEditPage()">Edit</button>
  <button *ngIf="!inCreate && inEdit" class="done-button" (click)="updateContact()">Done</button>
  <button *ngIf="inCreate && !inEdit" class="done-button" (click)="uploadContact()">Done</button>
</div>
