
<div *ngIf="patientList" class="side-list-container">
  <div *ngFor="let character of object.keys(patientList)">
    <p class="characterBucket" *ngIf="patientList[character].length > 0">&nbsp;&nbsp;{{character.toUpperCase()}}</p>
    <hr *ngIf="patientList[character].length > 0" class="patientBucketSeparator">
    <p [ngClass]="patient.colorBlue ? 'list-patient-name blue' : 'list-patient-name'" (click)="selectPatient(patient, i)" *ngFor="let patient of patientList[character]; let i=index" ngDefaultControl>&nbsp;&nbsp;&nbsp;&nbsp;{{patient.firstName}} {{patient.lastName}}
      <button [hidden]="!patient.colorBlue || !inEdit" class="delete-button" (click)="removePatient(patient)">
        <b>-</b>
      </button>
    </p>

  </div>
</div>
